{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link  rel="stylesheet" href="{% static 'home/css/home.css' %}">
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{% static 'js/jquery-3.6.0.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
    </head>
    <body>
      <div class="header">
        <h1>Speakup</h1>
        <p>... a place to be heard</p>
      </div>
        {% block form %}
        <div class="container">
          <section id="const_1">

          </section>
          <form id="login-form" class="form-group" method="post">
              {% csrf_token %}
                <div class="row" id="form_label">
                  Login
                </div>
                {% if messages %}
                  {% for msg in messages %}
                    <div class="alert alert-{{msg.level_tag}}" role="alert" id="msg">
                      {{msg.message}}
                    </div>
                  {% endfor %}
                {% endif %}
              <div class="row">
                  <div class="username">
                      <label for="id_username">Username</label>
                      <input name="username" id="id_username" type="text">
                  </div>
              </div>
              <div class="row">
                  <div class="password">
                      <label for="id_password">Password</label>
                      <input name="password" id="id_password" type="password">
                  </div>
              </div>
              <div class="row" id="right">
                <div>
                    <button id="login">Login</button>
                </div>
                <div class="reg_point">
                    <a href="{% url 'register' %}">Create an account</a>
                </div>
              </div>
          </form>
          <section id="const_2">

          </section>
        </div>
        {% endblock %}
    </body>

  </html>
